@model VivaRevolution.Models.ViewModels.PosterListViewModel

@{
    ViewBag.Title = "List";
}
    <div class="container_24 padForHeader">
@foreach (var poster in Model.Posters)
{
    <div class="container_24">
                    
        <div class="grid_12">
            <div id="poster">
                <div id="poster-top">
                    <div class="quote large">@poster.Quote</div>
                    <div class="name small">@poster.Name@poster.Title</div>
                    <div class="posterImg"><img src="~/Content/images/posterId/@String.Format("{0}.gif", @poster.ImgId)" /></div>
                </div>
                <div class="poster-tagline">
                    @poster.TagLine
                </div>
            </div>
        </div>

        <div class="grid_12">
            <ul id="posterInfo">
                <li><strong>ID:</strong> @Html.ActionLink( String.Format("#{0}", poster.PosterId), "View", new { @id = @poster.PosterId })</li>
                <li><strong>Created by:</strong> @poster.CreatedBy</li>
                <li><strong>Date Created:</strong> @poster.DateCreated</li>
                <li><strong>Star Rating:</strong> 5</li>
            </ul>
        </div>

    </div>
}
        </div>
