@model VivaRevolution.Domain.Entities.Poster

@{
    ViewBag.Title = @Model.Quote;
}

@section intro {
    <div class="promo-poster-container" id="pw-promo-poster-container">
        <img class="promo-poster shadow" src="~/Content/images/promo-poster.jpg" />
    </div>

    <div class="featured-posters-container" id="pw-featured-posters-container">
        <div id="slideshow">
            @if (@Model != null)
            {    
                Html.RenderPartial("_poster", Model);
            }
        </div>
    </div>
}

    <section class="post mainBody" id="pw-post">
        <h1>Your Poster ...</h1>


        @using (Html.BeginForm("", "poster", FormMethod.Post, new { encType = "multipart/form-data" }))
        {
           @* @Html.Hidden("ImgId")
            @Html.Hidden("Quote")
            
            <div>@Html.TextBoxFor(x => x.Name)</div>
            <div>@Html.TextBoxFor(x => x.Title)</div>
            <div>@Html.TextBoxFor(x => x.TagLine)</div>
            <div>Do you want to keep this private? @Html.CheckBoxFor(x => x.Private)</div>
        
            <div>
                <p>Please have fun and enjoy the site in the manor which was intended.</p>
                <p>Post responsibly, please don't loose your job! .. REMEMBER YOU ARE RESPONSIBLE FOR WHAT YOU POST.</p>
                <p>OK, got it! <input type="checkbox" name="chkAgree" /></p>
            </div>
        
            <div>
                <input type="submit" name="Post" class="button" value="Post it!" />
            </div>
        }*@

        <div id="PreviewContent" class="content border shadow">
            <div class="left">
                <div id="PreviewPoster" class="promo-poster-container">
                    @if (@Model != null)
                    {    
                        Html.RenderPartial("_poster", Model);
                    }
                </div>
            </div>

            <div class="right">
                <h1>Your Poster ...</h1>
                
                <div id="PreviewFields">
                    
                    @Html.TextBoxFor(x => x.Name)

                    @Html.TextBoxFor(x => x.Title, new { @Placeholder = ".. add a title, if you want" })

                    @Html.TextBoxFor(x => x.TagLine, new { @Placeholder = ".. add your own tag line too, if you want" })
                </div>

                <div>
                    <p>Please post responsibly, please don't loose your job .. remember <strong>YOU are responsible</strong> for what YOU post!</p><br />
                    <p>OK, got it! <input type="checkbox" name="chkAgree" /></p>
                </div>

                <div id="PreviewButtons">
                    <input id="Post" type="submit" name="Post" class="button" value="Post" />

                    <input id="Update" type="button" name="Update" class="preview button" value="Update" />

                    <input id="Close" type="button" name="Close" class="button" value="Close" />
                </div>
            </div>
        </div>
        }
    </section>
