@model VivaRevolution.Models.ViewModels.PosterViewModel

                           
    <div>
        @Html.TextAreaFor(x => x.Quote, new { @maxlength="150", placeholder="Quote ..." })
    </div>

    <div>
        <select id="ImgId" class="wide" name="ImgId">
            <option value="" disabled selected>Who said it? ...</option>
            @foreach (var image in Model.Images)
            {
                if (String.IsNullOrEmpty(@image.ImageValue))
                {
                    <option value="-" disabled>@image.ImageName</option>
                }
                else
                {
                    <option value="@image.ImageValue">@image.ImageName</option>                    
                }
            }
        </select>
    </div>
                    
    <div>
        <a href="#pw-preview" id="Preview" type="submit" class="ajaxPreview buttonLink">Preview</a>
    </div>


<script>
    $(document).ready(function () {
        $('#pw-preview').hide();
    });

    //Auto fill the hidden Name field with the drop down text value
    $("#ImgId").change(function (event) {
        var selectedValue = $("#ImgId option:selected").text();
        $("#Name").val(selectedValue);
    });

    //Show preview of poster in light box
    $("#Update").click(function (event) {
        event.preventDefault();

        alert('hit Update');
    });

    //Show preview of poster in light box
    $(".ajaxPreview").click(function (event) {
        event.preventDefault();

        //Values for model
        var values =
            {
                "quote": $("#Quote").val(),
                "imgId": $("#ImgId").val(),
                "name": $("#Name").val(),
                "title": $("#Title").val(),
                "tagLine": $("#TagLine").val()
            }

        //Ajax post to _Preview action method
        //Passes in the model values in the values variable
        //This will return the _preview partial view in the data variable populated with model values
        $.post("@Url.Action("_Preview", "Poster")", values, function (data) {
            success: {
                $("#DraftPoster").html(data);
                $('#pw-preview').show();

                var dest = 0;

                if ($('#pw-preview').offset().top > $(document).height() - $(window).height()) {
                    dest = $(document).height() - $(window).height();
                } else {
                    dest = $('#pw-preview').offset().top;
                }

                //go to destination
                $('html,body').animate({ scrollTop: dest }, 1000, 'swing');
            }
        });

        //return false;
    });

    //Close the lightbox
    $('#Close').live('click', function () {
        $('#Lightbox').hide();
    });
</script>