@model VivaRevolution.Models.ViewModels.PosterViewModel

                           
    <div>
        @Html.TextAreaFor(x => x.Quote, new { @maxlength="150", placeholder="Quote ..." })
    </div>

    <div>
        <select id="ImgId" class="wide" name="ImgId">
            <option value="" disabled selected>Who said it? ...</option>
            @foreach (var image in Model.Images)
            {
                if (String.IsNullOrEmpty(@image.ImageValue))
                {
                    <option value="-" disabled>@image.ImageName</option>
                }
                else
                {
                    <option value="@image.ImageValue">@image.ImageName</option>                    
                }
            }
        </select>
    </div>
                    
    <div>
        @*<input id="Preview" type="submit" name="Preview" class="preview button" value="Preview" />*@
        <a href="#pw-preview" id="Preview" type="submit" class="preview buttonLink scroll">Preview</a>
    </div>
    
    @*

    <div id="Lightbox">
        <div id="PreviewContent" class="content border shadow">
            <div class="left">
                <div id="PreviewPoster" class="promo-poster-container">
                    <div id="DraftPoster"></div>
                </div>
            </div>

            <div class="right">
                <h1>Your Poster ...</h1>
                
                <div id="PreviewFields">
                    
                    @Html.TextBoxFor(x => x.Name)

                    @Html.TextBoxFor(x => x.Title, new { @Placeholder = ".. add a title, if you want" })

                    @Html.TextBoxFor(x => x.TagLine, new { @Placeholder = ".. add your own tag line too, if you want" })
                </div>

                <div>
                    <p>Please post responsibly, please don't loose your job .. remember <strong>YOU are responsible</strong> for what YOU post!</p><br />
                    <p>OK, got it! <input type="checkbox" name="chkAgree" /></p>
                </div>

                <div id="PreviewButtons">
                    <input id="Post" type="submit" name="Post" class="button" value="Post" />

                    <input id="Update" type="button" name="Update" class="preview button" value="Update" />

                    <input id="Close" type="button" name="Close" class="button" value="Close" />
                </div>
            </div>
        </div>
    </div>*@


<script>
    $(document).ready(function () {
        $('#pw-preview').hide();
    });

    //Auto fill the hidden Name field with the drop down text value
    $("#ImgId").change(function (event) {
        var selectedValue = $("#ImgId option:selected").text();
        $("#Name").val(selectedValue);
    });

    //Show preview of poster in light box
    $(".preview").click(function (event) {
        event.preventDefault();

        //Values for model
        var values =
            {
                "quote": $("#Quote").val(),
                "imgId": $("#ImgId").val(),
                "name": $("#Name").val(),
                "title": $("#Title").val(),
                "tagLine": $("#TagLine").val()
            }

        //Ajax post to _Preview action method
        //Passes in the model values in the values variable
        //This will return the _preview partial view in the data variable populated with model values
        $.post("@Url.Action("_Preview", "Poster")", values, function (data) {
            success: {
                $("#DraftPoster").html(data);
                $('#pw-preview').show();
            }
        });

        //return false;
    });

    //Close the lightbox
    $('#Close').live('click', function () {
        $('#Lightbox').hide();
    });
</script>