@model VivaRevolution.Models.ViewModels.PosterViewModel

@using (Html.BeginForm("", "poster", FormMethod.Post, new { encType = "multipart/form-data" }))
{ 
     
    <section class="footer container_24" id="pw-footer">

        <div class="grid_10">
            <h2>WHAT'S THIS ALL ABOUT?</h2>
            <p>So, this is just a bit of fun .. a doff of the cap to the original posters.</p>
            <p>Here you can create the posters which could have been.</p>
            <p>Please have fun and enjoy the site in the manor which was intended.</p>

        </div>

        <div class="grid_3">&nbsp;</div>

        <div class="grid_11">
            <h2>1. CREATE</h2>
                <div>
                    @Html.TextAreaFor(x => x.Quote, new { @maxlength="150", placeholder="Quote ..." })
                </div>

                <div>
                    <select id="ImgId" class="wide" name="ImgId">
                        <option value="" disabled selected>Who said it? ...</option>
                        @foreach (var image in Model.Images)
                        {
                            if (String.IsNullOrEmpty(@image.ImageValue))
                            {
                                <option value="-" disabled>@image.ImageName</option>
                            }
                            else
                            {
                                <option value="@image.ImageValue">@image.ImageName</option>                    
                            }
                        }
                    </select>
                </div>
                    
                <div>
                    <a href="#pw-preview" id="Preview" type="submit" class="ajaxPreview buttonLink">Preview</a>
                </div>
        </div>

    </section>
    
    <div id="pw-preview">
        <section class="container_24">

            <div class="grid_10">
                <h2>Your Poster</h2>
                <div id="PreviewPoster" class="promo-poster-container">
                    <div id="DraftPoster"></div>
                </div>
            </div>

            <div class="grid_3">&nbsp;</div>

            <div class="grid_11">
                <h2>2. UPDATE (Optional)</h2>

                <div id="PreviewFields" class="formInputFields">   
                    @Html.TextBoxFor(x => x.Name)

                    @Html.TextBoxFor(x => x.Title, new { @Placeholder = ".. add a title, if you want" })

                    @Html.TextBoxFor(x => x.TagLine, new { @Placeholder = ".. add your own tag line too, if you want" })
                </div>

                <div id="UpdateButtons">
                    <a href="#pw-preview" id="#pw-Update" class="ajaxPreview buttonLink">Update</a>
                </div>

                <h2>3. POST</h2>

                <div id="PostFields" class="formInputFields"> 
                    <input type="text" placeholder="RACFID"/>

                    <input type="text" placeholder="Password"/>
                </div>

                <div>
                    <p>Please post responsibly, please don't lose your job .. remember <strong>YOU are responsible</strong> for what YOU post!</p><br />
                    <p>OK, got it! <input type="checkbox" name="chkAgree" /></p>
                </div>
                
                <div id="PreviewButtons">
                    <input id="Post" type="submit" name="Post" class="buttonLink" value="Post" />
                </div>
            </div>

        </section>
    </div>
}

